<div class="modal fade fixed-right" id="modalPricing" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <form class="modal-content" id="demoForm">
      <div class="modal-body">

        <!-- Close -->
        <a class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>

        <div class="text-center">
          <img src="@@webRoot/assets/img/AIRCRFT Sidebar Logo.png" alt="AIRCRFT" class="img-fluid mb-3">
        </div>

        <!-- h2 class="text-center mb-2">
          Startup-In-A-Box (SIAB)
        </h2> 
        
        <h2 class="text-center mb-4">
          HUB | PLATFORM | MARKETPLACE
        </h2> 

        <p class="text-center mb-4">
          HUB | PLATFORM | MARKETPLACE
        </p> 
        
        <p class="text-center mb-4">
          EMPOWER YOUR STARTUP
        </p> -->
        
         <p class="text-center mb-4">
          AIRCRFT STARTUP-IN-A-BOX KIT
        </p>
        
        <!-- <p class="small text-center-muted mb-3">
          OPEN SOURCE STARTUP BUILDER
        </p> -->

        <hr class="mb-4"> 

        <h4 class="mb-1">
          Broadcast & Transmission Bunlde
        </h4> 

        <p class="small text-muted mb-3">
          Runs on AIRCRFT Cloud Formation - infinitly scalable (1 billion + people) startup-grade cloud infrastructure,zero-developer configuration needed, codeless, serverless, headache-free, enables you to focus on what matter most - continuosly delivering spefic problem solving high value to your users! Own your data, content, users, analyics always and forever. Day-O Certifcate Startup Badge.
        </p> 

        <div class="card">
          <div class="card-body">

            <!-- Title -->
            <h6 class="text-uppercase text-center text-muted my-4">
               FUELS YOUR STARTUP
            </h6>

            <!-- Price -->
            <div class="row no-gutters align-items-center justify-content-center">
              <div class="col-auto">
                <div class="h2 mb-0">$</div>
              </div>
              <div class="col-auto">
                <div class="display-2 mb-0">29</div>
              </div>
            </div> <!-- / .row -->

            <!-- Period -->
            <div class="h6 text-uppercase text-center text-muted mb-5">
              / mth
            </div>

            <!-- Features -->
            <div class="mb-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Content - Powerful modern professional publishing platform</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Newsletters</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>User / Members - built-in effortless user management system</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Payments - stripe pre-configured - start accepting payment with abcouple of taps</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>All in one place</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>SSL + CDN included</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Unlimited views, users, members, and team</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Priority support - Live chat plus decicated support chat channel</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>99.9% uptime SLA's available on request</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Zero-config - elimnates boiler plate code</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Add-ons Team Chat App</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Fine-tuned and startup optimized</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Add-ons Live Chat</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Stripe payments</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Add-ons Podcast ready</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Add-ons Team Chat App</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Add-ons Team Chat App</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Add-ons Team Chat App</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
              </ul>
            </div>
            <div class="modal-footer border-0">
          
            <!-- ALL ACCESS MEMBERSHIPS Button STRIPE / SUBSCIPTION GOES HERE! -->
            <a href="https://rocket.aircrftengine.com/home" class="btn btn-block btn-primary">
              Start your 14 day free trial now
            </a>
            
            </div>

          </div>
        </div>

      </div>
    </form>
  </div>
</div>