<!-- Modal 1: Demo -->
@@include("modal-demo.html")

<!-- Modal 2: Members -->
@@include("modal-members.html")

<!-- Modal 3: Startup Search Left Side Slideout d187 -->
@@include("modal-startup-search.html")

<!-- Modal 4: Search OG -->
@@include("modal-search-og.html")


<!-- Modal 4: Activity -->
@@include("modal-activity.html")

<!-- Modal 5: Kanban task -->
@@include("modal-kanban-task.html")

<!-- Modal 6: Kanban task -->
@@include("modal-kanban-task-empty.html")

<!-- Modal 7: Founders Feed -->
@@include("modal-founders-feed.html")

<!-- Modal 8: Startup Spotlight -->
@@include("modal-startup-spotlight.html")

<!-- Modal 9: Uplift Algorithm -->
@@include("modal-uplift-algorithm.html")

<!-- Modal 10: Pricing  -->
@@include("modal-pricing.html")

