<!-- Modal: modal-shop-121-20 -->
<div class="modal fade" id="modal-shop-121-20" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-lighter">
      <div class="modal-body">

        <!-- Header -->
        <div class="row">
          <div class="col">

            <!-- Prettitle -->
            <h6 class="text-uppercase text-muted mb-3">
              <a href="#index.html" class="text-reset">AIRCRFT</a>
            </h6>

            <!-- Title -->
            <h2 class="mb-2">
              Startup Stack | MVP Launcher Kit
            </h2>

            <!-- Subtitle 
            <p class="text-muted mb-0">
              Discover startups solving the world's most challenging problems.
            </p> -->

            <p class="text-center mb-3">
              <img src="assets/img/AIRCRFT Sidebar Logo.png" alt="AIRCRFT Sidebar Logo" class="img-fluid rounded">
            </p> 

          </div>
          <div class="col-auto">

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </button>
          
          </div>
        </div> <!-- / .row -->

        <!-- Divider -->
        <hr class="my-4">

        <!-- Card -->
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
    
            <!-- Subtitle -->
            <p class="text-muted mb-0">
              Founder curater tech stacks just for you!
            </p>
            
            <!-- <p class="text-muted mb-0">
              AIRCRFT/spotlight: Discover startups working on solving the world's most challenging problems.
            </p> -->

                    
                    <!-- Title 
                    <h4 class="card-header-title"> <img src="assets/img/aircrft-logo-clean.png" alt="aircrft-logo">
                    </h4> -->
    
                  </div>
                  <div class="col-auto">
    
                    <!-- Button 
                    <a href="#!" class="btn btn-sm btn-primary">
                      EXPLORE AIRCRFT
                    </a> -->
                    
                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="card-body">
    
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #1</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight is is added #2</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution: Align card text?
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #3</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #4</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #5</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>                

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #6</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #7</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>                

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #8</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #9</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>                

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-4.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #10</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Bio tech
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund
                        </a>
                        <a href="#!" class="dropdown-item">
                          Share
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
              </div>
            </div>        

            <!-- Products -->
            <div class="card">
              <div class="card-header">

                <!-- Title -->
                <h4 class="card-header-title">
                  Best Selling Products
                </h4>

                <!-- Button -->
                <a href="#!" class="btn btn-sm btn-white">
                  Export
                </a>

              </div>
              <div class="table-responsive mb-0" data-list='{"valueNames": ["products-product", "products-stock", "products-price", "products-sales"]}'>
                <table class="table table-sm table-nowrap table-hover card-table">
                  <thead>
                    <tr>
                      <th>
                        <a href="#" class="text-muted list-sort" data-sort="products-product">
                          Product
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted list-sort" data-sort="products-stock">
                          Stock
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted list-sort" data-sort="products-price">
                          Price
                        </a>
                      </th>
                      <th colspan="2">
                        <a href="#" class="text-muted list-sort" data-sort="products-sales">
                          Monthly Sales
                        </a>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td class="products-product">
                        <div class="d-flex align-items-center">

                          <!-- Image -->
                          <div class="avatar">
                            <img class="avatar-img rounded mr-3" src="assets/img/avatars/products/product-1.jpg" alt="..." />
                          </div>

                          <div class="ml-3">

                            <!-- Heading -->
                            <h4 class="font-weight-normal mb-1">Sketchpad</h4>

                            <!-- Text -->
                            <small class="text-muted">3" x 5" Size</small>
                          </div>
                        </div>
                      </td>
                      <td class="products-stock">

                        <!-- Badge -->
                        <span class="badge badge-soft-success">Available</span>

                      </td>
                      <td class="products-price">
                        $14.99
                      </td>
                      <td class="products-sales">
                        $3,145.23
                      </td>
                      <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Action
                            </a>
                            <a href="#!" class="dropdown-item">
                              Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                              Something else here
                            </a>
                          </div>
                        </div>

                      </td>
                    </tr>
                    <tr>
                      <td class="products-product">
                        <div class="d-flex align-items-center">

                          <!-- Image -->
                          <div class="avatar">
                            <img class="avatar-img rounded mr-3" src="assets/img/avatars/products/product-2.jpg" alt="..." />
                          </div>

                          <div class="ml-3">

                            <!-- Heading -->
                            <h4 class="font-weight-normal mb-1">Turtleshell Shades</h4>

                            <!-- Text -->
                            <small class="text-muted">UV + Blue Light</small>

                          </div>
                        </div>
                      </td>
                      <td class="products-stock">

                        <!-- Badge -->
                        <span class="badge badge-soft-warning">Unavailable</span>

                      </td>
                      <td class="products-price">
                        $39.99
                      </td>
                      <td class="products-sales">
                        $2,611.82
                      </td>
                      <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Action
                            </a>
                            <a href="#!" class="dropdown-item">
                              Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                              Something else here
                            </a>
                          </div>
                        </div>

                      </td>
                    </tr>
                    <tr>
                      <td class="products-product">
                        <div class="d-flex align-items-center">

                          <!-- Image -->
                          <div class="avatar">
                            <img class="avatar-img rounded mr-3" src="assets/img/avatars/products/product-3.jpg" alt="..." />
                          </div>

                          <div class="ml-3">

                            <!-- Heading -->
                            <h4 class="font-weight-normal mb-1">Nike "Go Bag"</h4>

                            <!-- Text -->
                            <small class="text-muted">Leather + Gortex</small>

                          </div>
                        </div>
                      </td>
                      <td class="products-stock">

                        <!-- Badge -->
                        <span class="badge badge-soft-success">Available</span>

                      </td>
                      <td class="products-price">
                        $149.99
                      </td>
                      <td class="products-sales">
                        $2,372.19
                      </td>
                      <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Action
                            </a>
                            <a href="#!" class="dropdown-item">
                              Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                              Something else here
                            </a>
                          </div>
                        </div>

                      </td>
                    </tr>
                    <tr>
                      <td class="products-product">
                        <div class="d-flex align-items-center">

                          <!-- Image -->
                          <div class="avatar">
                            <img class="avatar-img rounded mr-3" src="assets/img/avatars/products/product-4.jpg" alt="..." />
                          </div>

                          <div class="ml-3">

                            <!-- Heading -->
                            <h4 class="font-weight-normal mb-1">Swell Bottle</h4>

                            <!-- Text -->
                            <small class="text-muted">Bone Clay White</small>

                          </div>
                        </div>
                      </td>
                      <td class="products-stock">

                        <!-- Badge -->
                        <span class="badge badge-soft-success">Available</span>

                      </td>
                      <td class="products-price">
                        $24.99
                      </td>
                      <td class="products-sales">
                        $1,145.23
                      </td>
                      <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Action
                            </a>
                            <a href="#!" class="dropdown-item">
                              Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                              Something else here
                            </a>
                          </div>
                        </div>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
               <!-- Pricing Card -->
                <div class="card card-fill">
                  <div class="card-body">

                    <!-- Title -->
                    <h6 class="text-uppercase text-center text-muted my-4">
                      Basic plan
                    </h6>

                    <!-- Price -->
                    <div class="row no-gutters align-items-center justify-content-center">
                      <div class="col-auto">
                        <div class="h2 mb-0">$</div>
                      </div>
                      <div class="col-auto">
                        <div class="display-2 mb-0">19</div>
                      </div>
                    </div> <!-- / .row -->

                    <!-- Period -->
                    <div class="h6 text-uppercase text-center text-muted mb-5">
                      / month
                    </div>

                    <!-- Features -->
                    <div class="mb-3">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                          <small>Unlimited activity</small> <i class="fe fe-check-circle text-success"></i>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                          <small>Direct messaging</small> <i class="fe fe-check-circle text-success"></i>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                          <small>Members</small> <small>10 members</small>
                        </li>
                        <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                          <small>Admins</small> <small>No access</small>
                        </li>
                      </ul>
                    </div>

                    <!-- Button -->
                    <a href="#!" class="btn btn-block btn-light">
                      Start with Basic
                    </a>

                  </div>
                </div>

              </div>
              <div class="col-12 col-lg-6">

            
                <!-- Buy Now Card -->
                <div class="card">

                  <!-- Image -->
                  <a href="https://themes.getbootstrap.com/preview/?theme_id=23273">
                    <img class="card-img-top" src="assets/img/kanban/kanban-2.jpg" alt="...">
                  </a>

                  <!-- Body -->
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Title -->
                        <h4 class="mb-1">
                          Get Landkit theme!
                        </h4>

                        <!-- Badge -->
                        <span class="badge badge-soft-success">
                          Ad
                        </span>

                        <!-- Price -->
                        <small class="text-muted">
                          $49.99
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <a class="btn btn-sm btn-white" href="https://themes.getbootstrap.com/preview/?theme_id=23273">
                          Buy now
                        </a>

                      </div>
                    </div> <!-- / .row -->
                  </div>

                </div>

            <!-- Divider -->
            <hr class="mb-5">
            
            <!-- Card Try it for free button -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-12 col-lg-4 order-lg-2">

                    <!-- Image -->
                    <div class="text-center">
                      <img src="assets/img/illustrations/happiness.svg" alt="..." class="img-fluid mt-n5 mt-lg-0 mb-4 mr-md-n5" style="max-width: 272px;">
                    </div>

                  </div>
                  <div class="col-12 col-lg-8 px-4 py-3 order-lg-1">

                    <!-- Title -->
                    <h2>
                      We released 2008 new versions of our theme to make the world a better place.
                    </h2>

                    <!-- Content -->
                    <p class="text-muted">
                      This is a true story and totally not made up. This is going to be better in the long run but for now this is the way it is.
                    </p>

                    <!-- Button -->
                    <a href="#!" class="btn btn-primary lift">
                      Try it for free
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>
            

        <!-- Card 
        <div class="card">
            <div class="card-body">
              <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                  <span aria-hidden="true">×</span>
                </div>
  
              </div>
            </div>
          </div> -->

        <!-- Card 
        <div class="card">
          <div class="card-body">
            <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                <span aria-hidden="true">×</span>
              </div>

            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>