<div class="modal fade fixed-right" id="modalPricing" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <form class="modal-content" id="demoForm">
      <div class="modal-body">

        <!-- Close -->
        <a class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>

        <div class="text-center">
          <img src="@@webRoot/assets/img/AIRCRFT Sidebar Logo.png" alt="AIRCRFT" class="img-fluid mb-3">
        </div>

        <!-- h2 class="text-center mb-2">
          Startup-In-A-Box (SIAB)
        </h2> 
        
        <h2 class="text-center mb-4">
          HUB | PLATFORM | MARKETPLACE
        </h2> 

        <p class="text-center mb-4">
          HUB | PLATFORM | MARKETPLACE
        </p> -->
        
         <p class="text-center mb-4">
          HUB | PLATFORM | MARKETPLACE
        </p>
        
        <!-- <p class="small text-center-muted mb-3">
          OPEN SOURCE STARTUP BUILDER
        </p> -->

        <!-- <hr class="mb-4">

        <h4 class="mb-1">
          Color Control Panel
        </h4> 

        <p class="small text-muted mb-3">
          Welcome to the future of deep work!
        </p> -->

        <div class="card">
          <div class="card-body">

            <!-- Title -->
            <h6 class="text-uppercase text-center text-muted my-4">
               STARTUP BUILDER
            </h6>

            <!-- Price -->
            <div class="row no-gutters align-items-center justify-content-center">
              <div class="col-auto">
                <div class="h2 mb-0">$</div>
              </div>
              <div class="col-auto">
                <div class="display-2 mb-0">99</div>
              </div>
            </div> <!-- / .row -->

            <!-- Period -->
            <div class="h6 text-uppercase text-center text-muted mb-5">
              / mth
            </div>

            <!-- Features -->
            <div class="mb-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Startup-grade pre-deployed JAMStack website</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Modern Professional Publishing Platform</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Startup Site</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Professional Content Publishing System</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Team Chat App</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Components - al la cart</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>AIRCRFT Cloud Formation</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Featured in Startup Marketplace & Directory</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Spin up on-demand DreamTeams</small> <i
                    class="fe fe-check-circle text-success"></i>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>List technology product in Marketplace</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Embeddable founder / startup activity feeds</small> <i class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Compile ondemand Dream Dreams</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Craft / Post / Search Dream Jobs</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Participate in weekly Founder Group circles</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Give back to other startups consistently with Uplift Algorithm</small> <i class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Learn Exponentially</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Sustainable Prosperity</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Infinitely Scalable</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Contribute / Give Back</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Video co-working space - remote teams optimized</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Video co-working space - remote teams optimized</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Video co-working space - remote teams optimized</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Audio / Video calls 1-to-1 + group messaging</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Embeddable founder / startup activity feeds</small> <i class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Organized conversations in teams and channels</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Unlimited job posting + remote video interviews</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Groups - bring your network together</small> <i class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Manuals, articles, and blog posts</small> <i class="fe fe-check-circle text-success"></i>
                </li>
              </ul>
            </div>
            <div class="modal-footer border-0">
          
            <!-- ALL ACCESS MEMBERSHIPS Button STRIPE / SUBSCIPTION GOES HERE! -->
            <a href="https://rocket.aircrftengine.com/home" class="btn btn-block btn-primary">
              STARTUP-in-a-BOX Eseential Bundle
            </a>
            
            </div>

          </div>
        </div>

      </div>
    </form>
  </div>
</div>