<nav class="navbar sticky-top navbar-vertical fixed-left navbar navbar-light @@if(navColor=='default' && !demoMode){navbar-light}@@if(navColor=='inverted' &&!demoMode){}@@if(navColor=='vibrant' && !demoMode){navbar-dark bg-vibrant}" id="sidebar">
  <div class="container-fluid">

     <!-- AIRCRFT NAVBAR Dark Backgroud Code by Chai Forest d146/20 
<nav class="navbar navbar-vertical fixed-left navbar navbar-dark bg-dark @@if(navColor=='default' && !demoMode){navbar-light}@@if(navColor=='inverted' &&!demoMode){}@@if(navColor=='vibrant' && !demoMode){navbar-dark bg-vibrant}" id="sidebar">
  <div class="container-fluid"> -->
  
  <!-- AIRCRFT NAVBAR Primary Backgroud Code by Chai Forest d146/20 
<nav class="navbar navbar-vertical fixed-left navbar navbar-vibrant bg-primary @@if(navColor=='default' && !demoMode){navbar-light}@@if(navColor=='inverted' &&!demoMode){}@@if(navColor=='vibrant' && !demoMode){navbar-dark bg-vibrant}" id="sidebar">
  <div class="container-fluid"> -->
  
  <!-- AIRCRFT NAVBAR Custom Background Color Code by Chai Forest d146/20 
<nav class="navbar navbar-vertical fixed-left navbar navbar-light style="background-color: #e3f2fd; @@if(navColor=='default' && !demoMode){navbar-light}@@if(navColor=='inverted' &&!demoMode){}@@if(navColor=='vibrant' && !demoMode){navbar-dark bg-vibrant}" id="sidebar">
  <div class="container-fluid"> -->
  
  <!-- AIRCRFT NAVBAR Dark Backgroud Code by Chai Forest d146/20 
<nav class="navbar navbar-vertical fixed-left navbar navbar-dark bg-dark @@if(navColor=='default' && !demoMode){navbar-light}@@if(navColor=='inverted' &&!demoMode){}@@if(navColor=='vibrant' && !demoMode){navbar-dark bg-vibrant}" id="sidebar">
  <div class="container-fluid"> -->
  
  <!-- AIRCRFT NAVBAR Dark Backgroud Code by Chai Forest d146/20 
<nav class="navbar navbar-vertical fixed-left navbar navbar-dark bg-dark @@if(navColor=='default' && !demoMode){navbar-light}@@if(navColor=='inverted' &&!demoMode){}@@if(navColor=='vibrant' && !demoMode){navbar-dark bg-vibrant}" id="sidebar">
  <div class="container-fluid"> -->
  
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="index.html">
      <img src="@@webRoot/assets/img/aircrft-sidebar-clean-d167-new.png" class="navbar-brand-img 
      mx-auto" alt="AIRCRFT"> 
    </a>
    <!-- <h6 class="navbar-heading"> 
        EXPONENTIAL INNOVATION HUB
    </h6> -->

    <!-- Updated mobile menu across all devices! d133-2020 - Chai Forest approved! -->
    <div class="navbar-user">

      <!-- Dropdown -->
      <div class="dropdown">
        
        <!-- Toggle -->
        <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-sm avatar-online">
            <img src="@@webRoot/assets/img/logo.png" class="avatar-img rounded-circle" alt="AIRCRFT">
          </div>
        </a>

        <!-- Menu Mobile Sidebar Logo Menu 
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarIcon">
          <a href="engine.html" class="dropdown-item">Apps</a>
          <a href="engine.html" class="dropdown-item">Stacks</a>
          
          <hr class="dropdown-divider">
          
          <a href="#modalPricing" data-toggle="modal">Infrastructure</a>
        </div> -->

      </div> 

    </div>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">

      <!-- AIRCRFT Search Form 
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </div>
      </form> -->

      <!-- Heading - Main Menu Starts Here Chai updated 133-2020
      <h6 class="navbar-heading"> 
        EXPONENTIAL INNOVATION HUB
      </h6> -->
      
            <!-- AIRCRFT d133 Updated 6:27pm by Chai Forest List group -->
            
  <!-- Card -->
  <div class="card">
    <div class="card-body">

      <!-- Header -->
      <div class="header">

        <!-- Image 
        <img src="@@webRoot/@@webRoot/assets/img/covers/profile-cover-2.jpg" class="header-img-top" alt="AIRCRFT Startup Store"> -->

        <!-- Body -->
        <div class="container-fluid">
          <div class="header-body mt-n5 mt-md-n6">
            <div class="row align-items-end">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-xxl header-avatar-left">
                  <img src="@@webRoot/@@webRoot/assets/img/avatars/icons/0-apps.png" alt="startup store" class="avatar-img rounded-circle border border-4 border-card">
                </div>

              </div>
              <div class="col mb-3 ml-n3 ml-md-n2">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  AIRCRFT <span class="badge badge-soft-success ml-auto">Welcome</span>
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  Moonshot Marketplace
                </h1>

              </div>
              <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">

                <!-- Button 
                <a href="startups-marketplace.htm" class="btn btn-primary d-block d-md-inline-block"> Explore
                </a> -->
                
                <!-- Button live d121-2020 
                <a href="#modal-shop-121-20" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal"> <i class="fe fe-feather mr-2"></i> Explore
                </a> -->
                
                <!-- Button live d121-2020 12-21-2020 -->
                <a href="#" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal"> <i class="fe fe-feather mr-2"></i> Explore </a> 
                
                <!-- Divider 
                <hr class="navbar-divider my-3"> -->
                
              </div>
            </div> <!-- / .row -->

          </div> <!-- / .header-body -->
        </div>
        
            <!-- Navigation Update 12.26.2020 -->
            <ul class="navbar-nav mb-md-4">
              <li class="nav-item">
                  <a class="nav-link {active}" href="#">
                    <i class="icon text-primary fe fe-cpu"></i> <span class="text-primary">Marketplace</span> <!-- <span class="badge badge-soft-success ml-auto">FAQ</span> -->
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {active}" href="#">
                    <i class="icon text-primary fe fe-video"></i> <span class="text-primary">Startup Spotlight</span> <!-- <span class="badge badge-soft-success ml-auto">FAQ</span> 
                    </a>
                </li> -->
              <li class="nav-item">
                <a class="nav-link {active}" href="#">
                  <i class="icon text-primary fe fe-sliders"></i> <span class="text-primary">Flightdeck</span> <!-- <span class="badge badge-soft-success ml-auto">FAQ</span> -->
                  </a>
              </li>
             <li class="nav-item">
                <a class="nav-link {active}" href="#">
                  <i class="icon text-primary fe fe-users"></i> <span class="text-primary">Hub + Spoke</span> <!-- <span class="badge badge-soft-success ml-auto">FAQ</span> -->
                  </a>
              </li>
            <!-- <li class="nav-item">
                <a class="nav-link {active}" href="toolbox.html">
                  <i class="icon text-primary fe fe-git-branch"></i> <span class="text-primary">Spoke</span>  <span class="badge badge-soft-success ml-auto">FAQ</span> -->
                  </a>
              </li>
               <li class="nav-item">
                <a class="nav-link {active}" href="partnerships.html">
                  <i class="icon text-primary fe fe-award"></i> <span class="text-primary">Partnerships</span> <!-- <span class="badge badge-soft-success ml-auto">FAQ</span> -->
                  </a>
              </li>
             <li class="nav-item">
                <a class="nav-link {active}" href="mission-crew.html">
                  <i class="icon text-primary fe fe-flag"></i> <span class="text-primary">Mission & Crew</span> <!-- <span class="badge badge-soft-success ml-auto">FAQ</span> -->
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {active}" href="#">
                  <i class="icon text-primary fe fe-sunrise"></i> <span class="text-primary">How We Navigate</span> <span class="badge badge-soft-success ml-auto">FAQ</span> 
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {active}" href="flightdeck.html">
                  <i class="icon text-primary fe fe-moon"></i> <span class="text-primary">Moonshot mindset</span> <!-- <span class="badge badge-soft-success ml-auto">FAQ</span> 
                  </a>
              </li> -->    
            </ul>  

      </div>

    </div>
                
            <!-- Navigation Update 12.26.2020 
            <ul class="navbar-nav mb-md-4">
              <li class="nav-item">
                  <a class="nav-link {active}" href="#">
                    <i class="icon text-primary fe fe-cpu"></i> <span class="text-primary">Moonshot Marketplace</span> 
                    </a>
                </li>
              <li class="nav-item">
                  <a class="nav-link {active}" href="#">
                    <i class="icon text-primary fe fe-sliders"></i> <span class="text-primary">Spotlight</> <span class="badge badge-soft-dark ml-auto">Discover moonshot startups</span> 
                    </a>
                </li>
              <li class="nav-item">
                <a class="nav-link @@if(page=='resources.html'){active}" href="#">
                  <i class="icon text-primary fe fe-hard-drive"></i> <span class="text-primary">Stacks</span> <span class="badge badge-soft-dark ml-auto">Founder curated tech-stacks</span> 
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {active}" href="#">
                    <i class="icon text-primary fe fe-package"></i> <span class="text-primary">Resources</span>  <span class="badge badge-soft-success ml-auto">FAQ</span> 
                    </a>
                </li> 
              <li class="nav-item">
                  <a class="nav-link {active}" href="#">
                    <i class="icon text-primary fe fe-layers"></i> <span class="text-primary">Moonshot Mindest Podcast</> 
                    </a>
                </li>
                <li class="nav-item">
                <a class="nav-link @@if(page=='resources.html'){active}" href="#">
                  <i class="icon text-primary fe fe-feather"></i> <span class="text-primary">Partnerships</span> <span class="badge badge-soft-dark ml-auto">Uplift & rise together</span> 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link @@if(page=='resources.html'){active}" href="#">
                  <i class="icon text-primary fe fe-feather"></i> <span class="text-primary">Memberships</span> <span class="badge badge-soft-dark ml-auto">All-Access Moonshot Pass</span> 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link @@if(page=='resources.html'){active}" href="#">
                  <i class="icon text-primary fe fe-feather"></i> <span class="text-primary">FAQ</span> <span class="badge badge-soft-dark ml-auto">How it works</span> 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link @@if(page=='resources.html'){active}" href="#">
                  <i class="icon text-primary fe fe-feather"></i> <span class="text-primary">Who we are</span> <span class="badge badge-soft-dark ml-auto">Meet the moonshot curators and captains</span> 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link @@if(page=='resources.html'){active}" href="#">
                  <i class="icon text-primary fe fe-feather"></i> <span class="text-primary">Mission</span> <span class="badge badge-soft-dark ml-auto">Our North Star Purpose and Vision</span> 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link @@if(page=='resources.html'){active}" href="#">
                  <i class="icon text-primary fe fe-feather"></i> <span class="text-primary">Anything Else?</span> <span class="badge badge-soft-dark ml-auto">Weekly support video session</span> 
                </a>
              </li>
            </ul> -->
            
            

              </div>
            </div> <!-- / .row -->

          </div> <!-- / .header-body -->
        </div>
      
      <!-- Push content down -->
      <div class="mt-auto"></div>

    </div> <!-- / .navbar-collapse -->

  </div>
</nav>
