<!DOCTYPE html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
    "title": "AIRCRFT"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
  @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
  @@if (sidebarSize == 'base' || demoMode) {
  @@include("partials/sidebar.html", {
  "category": "pages",
  "subcategory": "project",
  "page": "index.html"
  })
  }
  @@if (sidebarSize == 'small' || demoMode) {
  @@include("partials/sidebar-sm.html", {
  "category": "pages",
  "subcategory": "project",
  "page": "index.html"
  })
  }
  }
  @@if (navPosition == 'topnav' || demoMode) {
  @@include("partials/topnav.html", {
  "category": "pages",
  "subcategory": "project",
  "page": "index.html"
  })
  }

  <!-- MAIN CONTENT AIRCRFT Startup Shop YC Build SprintbDay #10 d120-20 Updated Handcoded, curated and crafted by Chai Forest chai@aircrft.com | Updated 12.21.2020
    ================================================== -->
  <div class="main-content">

    @@if (navPosition == 'combo' || demoMode) {
    @@include("partials/topbar.html")
    }

      <!-- HEADER -->
      <div class="header">

        <!-- Image 
        <img src="assets/img/covers/aircrft-mvp-curated-stack-cover-d155-20.png" class="header-img-top" alt="AIRCRFT Startup Store"> -->
        
        <!-- Image aircrft-cover-11-11-2020.png 
        <img src="assets/img/covers/aircrft-cover-the-moonshot-marketplace.png" class="header-img-top" alt="AIRCRFT The Moonshot Marketplace"> -->
        
        <!-- ⭐️ Image AIRCRFT Moonshot Marketplace & LAUNCHPAD for Startups | Update by Chai Forest 11.23.2020  chai@aircrft.com | aircrft-cover-11-11-2020.png aircrft-cover-133.png aircrft-cover-startup-stack-store-11-16-2020.png aircrft-cover-one-11-16-2020.png aircrft-cover-1.png | aircrft-cover-moonshot-marketplace-launchpad-11-23-2020.png | aircrft-cover-moonshot-marketplace-startup-launchpad.png | aircrft-cover-moonshot-marketplace-startup-launchpad.png | aircrft-cover-internet-business-made-easy-12-17-2020.png aircrft-cover-startupfunding-wealth-cocreation-problem-solving-12-19-2020.png | aircrft-cover-helps-bring-your-business-online.png | aircrft-get-digital-la.png | aircrft-cover-12-21-2020-la-get-digital.png | aircrft-getdigital-la-thrive-cover-12-21-2020.png aircrft-get-digital-la-12-21-2020.png | aircrft-get-digital-la-thrive-12-21-2020.png aircrft-cover-12-21-2020-la-get-digital.png | aircrft-internet-business-made-easy-12-24-2020.png-->
        <img src="assets/img/covers/aircrft-internet-business-made-easy-12-24-2020.png" class="header-img-top" alt="Aircrft Internet Business Made Easy GET DIGITAL LA">

        <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">

          <!-- Body -->
          <div class="header-body mt-n5 mt-md-n6">
            <div class="row align-items-end">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-xxl header-avatar-top">
                  <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle border border-4 border-body">
                </div>

              </div>
              <div class="col mb-3 ml-n3 ml-md-n2">

                <!-- Pretitle 
                <h6 class="header-pretitle">
                  FINALLY, EVERYTHING YOU NEED TO LAUNCH YOUR STARTUP FROM ONE SPOT.
                </h6> -->
                
                <!-- Pretitle 
                <h6 class="header-pretitle">
                  Launch, grow, scale. Everything in one spot.
                </h6> -->
                
                <!-- Pretitle 11-5-2020 
                <h6 class="header-pretitle">
                  Founder curated apps & no-code tech stacks
                </h6> -->
                
                <!-- Pretitle 11-08-2020 
                <h6 class="header-pretitle">
                  Convergence of exponential technologies
                </h6> -->
                
                <!-- Pretitle 11-7-2020 
                <h6 class="header-pretitle">
                  Moonshot LaunchPad + Marketplace for Startups
                </h6> -->
                
                <!-- Pretitle 11-7-2020 
                <h6 class="header-pretitle">
                  Startup LaunchPad > Moonshot Marketplace
                </h6> -->
                
                <!-- Pretitle 
                <h6 class="header-pretitle">
                  (V2 Logline) FINALLY, EVERYTHING YOU NEED TO LAUNCH, GROW, & SCALE YOUR STARTUP IN ONE SPOT!
                </h6> -->
                
                <!-- Pretitle Update by Chai Forest 11.15.2020 
                <h6 class="header-pretitle">
                  EVERYTHING YOU NEED TO LAUNCH, GROW, & INFINIETLY SCALE YOUR STARTUP
                </h6> -->
                
                <!-- Pretitle 
                <h6 class="header-pretitle">
                  SOLVING THE PROBLEM OF PROBLEM-SOLVING
                </h6> -->
                
                <!-- Pretitle 
                <h6 class="header-pretitle">
                  Founder curated no-code Apps & Tech Stacks.
                </h6> -->
                
                <!-- Pretitle 
                <h6 class="header-pretitle">
                  Founder Curated | AI Managed
                </h6> -->
                
                <!-- Pretitle 
                <h6 class="header-pretitle">
                  Founder Curated Apps & Tech Stacks | AI Managed Backend Cloud Infrastructure
                </h6> -->
                
                <!-- Pretitle | Logline Option #2 | by Chai Forest | 11-16-2020 
                <h6 class="header-pretitle">
                  Convergence of exponential technologies
                </h6> -->
                
                <!-- Pretitle | Logline Option #2 | by Chai Forest | 11-16-2020 
                <h6 class="header-pretitle">
                  Empowering your success
                </h6> -->
                
                <!-- Pretitle | Logline Option #2 | by Chai Forest | 11-16-2020 -->
                <h6 class="header-pretitle">
                  Empower yourself by empowering others
                </h6>
                
                <!-- Pretitle | Logline Option #2 | by Chai Forest | 12.2.2020 
                <h6 class="header-pretitle">
                  Curated Convergence of exponential moonshots startups and solutions
                </h6> -->
                
                <!-- Pretitle | Logline Option #2 | by Chai Forest | 12.2.2020 
                <h6 class="header-pretitle">
                  Curated Convergence of moonshot solutions
                </h6> -->
                
                <!-- ⭐️ Pretitle | Logline Option #1 | by Chai Forest | 11-16- 2020 chai@aircrft.com 
                <h6 class="header-pretitle">
                  LAUNCH, GROW, & INFINIETLY SCALE ON DAY 0
                </h6> -->

                <!-- Title 
                <h1 class="header-title">
                  Startups supporting startups
                </h1> -->
                
                <!-- Title 
                <h1 class="header-title">
                  Start your startup, with one stack.
                </h1> -->
                
                <!-- Title 
                <h1 class="header-title">
                  Start your startup, with one tap, problem included.
                </h1> -->
                
                <!-- Title 
                <h1 class="header-title">
                  Founder curated apps and tech stacks | AI managed infrastructure
                </h1> -->
                
                <!-- Title 
                <h1 class="header-title">
                  Founder curated apps & tech stacks
                </h1> -->
                
                <!-- Title 
                <h1 class="header-title">
                  Start a startup.
                </h1> -->
                
                <!-- Title 
                <h1 class="header-title">
                  Start your startup
                </h1> -->
                
                <!-- Title 10-10-2020
                <h1 class="header-title">
                  Startup App Store
                </h1> -->
                
                <!-- Title 11-04-2020 
                <h1 class="header-title">
                  The Startup Store | Founder Curated Apps & Tech Stacks
                </h1> -->
                
                <!-- Title 11-04-2020 
                <h1 class="header-title">
                  Startup Store | Founder curated Apps & Stacks
                </h1> -->
                
                <!-- Title 11-04-2020 
                <h1 class="header-title">
                  Startup Store
                </h1> -->
                
                <!-- Title 11-04-2020 
                <h1 class="header-title">
                  The Startup Store 
                </h1> -->
                
                <!-- Title 11-04-2020 
                <h1 class="header-title">
                  Moonshot Marketplace 
                </h1> -->
                
                <!-- ⭐️ Title | Update by Chai Forest 11.16.2020 chai@aircrft.com    
                <h1 class="header-title">
                  Moonshot Marketplace & Launchpad
                </h1> -->
                
                <!-- ⭐️ Title | Update by Chai Forest 11.23.2020 chai@aircrft.com 
                <h1 class="header-title">
                  Welcome to Aircrft. Empowering the future now!
                </h1> 
                
                <!-- ⭐️ Title | Update by Chai Forest 11.23.2020 chai@aircrft.com 
                <h1 class="header-title">
                  Welcome to Aircrft. Empowering the future now!
                </h1> -->
                
                <!-- ⭐️ Title | Update by Chai Forest 12.1.2020 | chai@aircrft.com 
                <h1 class="header-title">
                  Moonshot Marketplace
                </h1> -->
                
                <!-- ⭐️ Title | Update by Chai Forest 11.23.2020 chai@aircrft.com    
                <h1 class="header-title">
                  Puts the exponential future into your startup now
                </h1> -->
                            
                <!-- ⭐️ Title | Update by Chai Forest 11.23.2020 chai@aircrft.com    
                <h1 class="header-title">
                  Welcome to mind like water
                </h1> -->
                
                
                <!-- Title 11-08- 2020 
                <h1 class="header-title">
                  Startup Stack Store / Moonshot Launch Pad 
                </h1> -->
                
                <!-- Title 12-@7-2020 
                <h1 class="header-title">
                  Startup Stack Store
                </h1> -->
                
                <!-- Title 12-@7-2020 -->
                <h1 class="header-title">
                  Welcome
                </h1> 
                
                
                <!-- Title 11-04-2020 
                <h1 class="header-title">
                  Startup Supplies & Moonshot Marketplace
                </h1> -->
                
                <!-- Title 
                <h1 class="header-title">
                  Start your startup
                </h1> -->
                
                <!-- Title 
                <h1 class="header-title">
                  The Startup Store
                </h1> -->
                
              </div>
              <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">

                <!-- Button 
                <a href="#!" class="btn btn-primary d-block d-md-inline-block lift i class="fe fe-feather">
                  Explore
                </a> -->
                
              <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">
              
               <!-- Button "Explore" Modal #03 | Updatd by Chai Forest 11.21.2020 -->
               <a href="#modalKanbanTaskProduction" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal">
                <i class="fe fe-feather mr-2"></i> Learn more
              </a>

              </div> 
                
              <!-- Button 11.5.2020
              <a href="#modalKanbanTaskProduction" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal">
                <i class="fe fe-feather mr-2"></i> Launch Your Moonshot 
              </a> 
              
              <!-- Button What's a Moonshot FAQ Top Pop ou Modal #03 | Updatd by Chai Forest 11.11.2020 
              <a href="#modalKanbanTaskProduction" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal">
                <i class="fe fe-feather mr-2"></i> What is a moonshot? 
              </a> -->
              
              <!-- Button What's a Moonshot FAQ Top Pop ou Modal #03 | Updatd by Chai Forest 11.11.2020 
              <a href="#modalKanbanTaskProduction" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal">
                <i class="fe fe-feather mr-2"></i> DEPLOY MOONSHOT STACK 
              </a> -->
              
              <!-- Button "Startup Stack Store" Modal #03 | Updatd by Chai Forest 11.21.2020 
              <a href="#modalKanbanTaskProduction" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal">
                <i class="fe fe-feather mr-2"></i> Startup Stack Store 
              </a>
              
              <!-- Button 11.7.2020
              <a href="#modalKanbanTaskProduction" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal">
                <i class="fe fe-feather mr-2"></i> What's a moonshot? 
              </a> -->
              
              <!-- Button
              <a href="#modalKanbanTaskProduction" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal">
                <i class="fe fe-feather mr-2"></i> Explore Apps, Stacks, & Moonshots
              </a> -->
              
              <!-- Button live d119 YC Build Sprint Day #11 
              <a href="#modalKanbanTaskProduction" class="btn btn-primary d-block d-md-inline-block lift" data-toggle="modal">
                <i class="fe fe-feather mr-2"></i> Start Your Startup Stack
              </a> -->
                <!-- Button 
                <a class="btn btn-primary d-block d-md-inline-block lift" data-target="#modalKanbanTask" <i class="fe fe-feather mr-2"></i> Explore 
              </a> -->

              </div>
              <!-- <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">
              
               Button "Moonshot Market" Modal #03 | Updatd by Chai Forest 11.21.2020 
              <a href="#modalKanbanTaskProduction" class="btn btn-white d-block d-md-inline-block lift" data-toggle="modal">
                <i class="fe fe-feather mr-2"></i> Moonshot Marketplace
              </a>

              </div> -->
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">

                <!-- Nav -->
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="index.html" class="nav-link active">
                      Apps
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="index.html" class="nav-link active">
                      Curated Stacks
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="index.html" class="nav-link active">
                      Discover Startups
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="index.html" class="nav-link active">
                      Resources
                    </a>
                  </li>
                </ul> 

              </div>
            </div>
          </div> <!-- / .header-body -->

        </div>
      </div>

    <!-- AIRCRFT Platform Posts Update 12.19.2020 | Chai Forest | chai@aircrft.com| aircrft-welcome-post-12-19-2020.png -->
    <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
      <!-- div class="row justify-content-center">
        <div class="col-12 col-xl-8"> -->
        
          <!-- ⭐️⭐️⭐️⭐️ AIRCFT Platform Post #04 | aircrft-welcome-post-12-19-2020.png | 12.19.2020 | Chai Forest -->
          <div class="card">
            <div class="card-body">
              
              <!-- Header -->
              <div class="mb-3">
                <div class="row align-items-center">
                  <div class="col-auto">
                   
                    <!-- Avatar -->
                    <a href="index.html" class="avatar">
                      <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="Purpose" class="avatar-img rounded-circle">
                    </a>

                  </div>
                  <div class="col ml-n2">

                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      AIRCRFT
                    </h4>
                              <!-- Time -->
                    <p class="card-text small text-muted">Uplift & Rise Together
                      <!-- <span class="fe fe-clock"></span> <time datetime="2018-05-24"> Post 2 of 7</time> -->
                    </p>

                  </div>
                  <div class="col-auto">

                  </div>
                </div> <!-- / .row -->
              </div>
                  
              <!-- ⭐️⭐️⭐️⭐️ AIRCRFT Post #01 |  aircrft-invites-free-website-blog-bundle-12-19-2020.png -->
              <p class="text-center mb-3">
                <img src="assets/img/posts/aircrft-get-digitalla-post-12-21-2020.png" alt="Aircrft is where startups bring their 10x Moonshot technology solutions to market."
                  class="img-fluid rounded">
              </p>
              
            </div>
          </div>
        
          <!-- Iframe CONTENT Injection | https://aircrft.com/index-home-widegt-feed-12-28-2020.html -->
          <div class="row">
            <div class="col-12">

              <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://aircrft.com/index-home-widegt-feed-12-28-2020.html" allowfullscreen></iframe>
              </div>
  
            </div>   
          </div> 
          
          <!-- Iframe CONTENT https://rocketrides.io/ embed Test 12.28.2020 -->
          <div class="row">
            <div class="col-12">

              <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://rocketrides.io/" allowfullscreen></iframe>
              </div>
  
            </div>   
          </div> 

        </div>
      </div>
      
      
    </div>


  </div>
  </div> <!-- / .row -->
  </div>
  </div> <!-- / .main-content -->

  <!-- JAVASCRIPT
    ================================================== -->
  @@include("partials/scripts.html")

</body>

</html>
